# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
/app/public/wp-admin/
/app/public/wp-content/index.php
/app/public/wp-content/languages
/app/public/wp-content/plugins/index.php
/app/public/wp-content/themes/index.php
/app/public/wp-includes/
/app/public/index.php
/app/public/license.txt
/app/public/readme.html
/app/public/wp-*.php
/app/public/xmlrpc.php

# Configuration
/app/public/wp-config.php

# Example themes
/app/public/wp-content/themes/twenty*/

# Example plugin
/app/public/wp-content/plugins/hello.php

# Uploads
/app/public/wp-content/uploads/

# Log files
/app/public/*.log

# htaccess
/app/public/.htaccess

# All plugins
#
# Note: If you wish to whitelist plugins,
# uncomment the next line
#/wp-content/plugins

# All themes
#
# Note: If you wish to whitelist themes,
# uncomment the next line
#/wp-content/themes